HTTP_PORT=:8081
ACCESS_SECRET_STRING=
REFRESH_SECRET_STRING=
ACCESS_LIFE_TIME_MINUTES=
REFRESH_LIFE_TIME_MINUTES=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_PROTOCOL_IP_PORT=tcp(127.0.0.1:3306)
DATABASE_NAME=
LOGS_DIRECTORY_PATH=logs/
URL_FOR_API_PARSER=http://foodapi.true-tech.php.nixdev.co/restaurants
FORMAT_STRING_FOR_API_URL=%s/%d/menu
PARSER_DELAY_SECONDS=
CORS_ORIGIN_ADDRESS_&_PORT=http://localhost:8080